.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-align: center;
  height: 90px;
  width: 90px;
}

.head {
  margin: 10px;
  color: aliceblue;
}

.title {
  font-weight: bold;
  color: rgb(34, 8, 148);
  margin: 20px;
  font-size: larger;
}
